<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074927524993-heldm02vfrm1if3kq7toel4leodkg378.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074927524993-heldm02vfrm1if3kq7toel4leodkg378</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1074927524993-cqjukij9m7uhrrs8r1739t72pa8r3mdj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKPIj044gcRW2oSXNVt_A5OK1zyBT66U0</string>
	<key>GCM_SENDER_ID</key>
	<string>1074927524993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.makeMyTrip</string>
	<key>PROJECT_ID</key>
	<string>travelproject22-6b9d4</string>
	<key>STORAGE_BUCKET</key>
	<string>travelproject22-6b9d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074927524993:ios:9030f46f86b3f5d8054180</string>
</dict>
</plist>